dist
node_modules
.env
.DS_Store
.idea
.vscode
.history
coverage
publish
packages/zstdify-tests/benchmarks/bundle-size.latest.md
.gitignore
packages/zstdify-tests/benchmarks/bundle-size.latest.json
packages/zstdify-tests/benchmarks/latest.json
.gitignore
*.cpuprofile
packages/zstdify-tests/benchmarks/benchmark.vl.json
packages/zstdify-tests/benchmarks/latest.md
